## Instalação de Dependências

In [130]:
%pip install pandas

Requirement already satisfied: pandas in /home/linguica/.venv/lib/python3.10/site-packages (2.2.3)
Requirement already satisfied: numpy>=1.22.4 in /home/linguica/.venv/lib/python3.10/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/linguica/.venv/lib/python3.10/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /home/linguica/.venv/lib/python3.10/site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /home/linguica/.venv/lib/python3.10/site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in /home/linguica/.venv/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [131]:
%pip install openpyxl

Requirement already satisfied: openpyxl in /home/linguica/.venv/lib/python3.10/site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in /home/linguica/.venv/lib/python3.10/site-packages (from openpyxl) (1.1.0)
Note: you may need to restart the kernel to use updated packages.

# Tratamento dos dados da tabela STATUS

In [132]:
import pandas as pd

In [133]:
df_falhas = pd.read_excel('/home/linguica/isabelle/sprint4/FALHAS_PREDICT.xlsx')

Como o arquivo em exel tinha várias abas com dados, foi necessário juntar os dados de todas essas abas em um unico arquivo

In [134]:
import pandas as pd

# Definir o caminho base
BASE_PATH = 'STATUS_PREDICTOR_ANO.xlsx'
column_names = ['KNR', 'STATUS', 'DATA']  # Nomes das colunas a serem usadas

def read_excel_sheets(file_path):
    # Carregar o arquivo Excel
    excel_data = pd.ExcelFile(f'{BASE_PATH}{file_path}')
    
    df_list = []
    
    for i, sheet in enumerate(excel_data.sheet_names):
        print(f'Processing sheet {sheet}')
        # A primeira aba tem o cabeçalho correto
        if i == 0:
            df = pd.read_excel(excel_data, sheet_name=sheet, header=0)
        else:
            # Nas outras abas, ler os dados sem cabeçalho
            df = pd.read_excel(excel_data, sheet_name=sheet, header=None)
            # Renomear colunas para 'Unnamed: 1', 'Unnamed: 2', etc., e limpar
            df = pd.DataFrame(df[[1, 2, 3]])  # Selecionar as colunas certas
            df.columns = column_names  # Atribuir os nomes das colunas
            
        df_list.append(df)
        print(f'Processed {df.shape[0]} rows')
    
    print(f'Processed {len(df_list)} sheets')
    return pd.concat(df_list, ignore_index=True)

# Usar a função
df_tst = read_excel_sheets("")
print(df_tst.head())

/home/linguica/.venv/lib/python3.10/site-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

Processing sheet Relatório 1
Processed 1048574 rows
Processing sheet Relatório 1(1)
Processed 1048575 rows
Processing sheet Relatório 1(2)
Processed 1048575 rows
Processing sheet Relatório 1(3)
Processed 1048575 rows
Processing sheet Relatório 1(4)
Processed 153682 rows
Processed 5 sheets
   Unnamed: 0    Unnamed: 1 Unnamed: 2           Unnamed: 3  KNR STATUS DATA
0         NaN           KNR     STATUS                 DATA  NaN    NaN  NaT
1         NaN  2023-2016173       G620  2023-06-06 07:50:27  NaN    NaN  NaT
2         NaN  2023-2016173       M620  2023-06-06 07:50:27  NaN    NaN  NaT
3         NaN  2023-2026032       G620  2023-06-20 17:35:51  NaN    NaN  NaT
4         NaN  2023-2026032       M620  2023-06-20 17:35:51  NaN    NaN  NaT

Removendo as linhas onde a coluna "STATUS" contém valores nulos

In [135]:
df_tst = df_tst[df_tst["STATUS"].isnull()==False]
df_tst.shape

(3299407, 7)

Início do tratamento das colunas necessárias da tabela STATUS

In [136]:
df_tst.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,KNR,STATUS,DATA
1048574,NaN,NaN,NaN,NaN,2023-4026002,R600,2023-09-29 07:14:44
1048575,NaN,NaN,NaN,NaN,2023-4026002,R700,2023-09-29 07:38:47
1048576,NaN,NaN,NaN,NaN,2023-4026002,R725,2023-09-29 07:53:00
1048577,NaN,NaN,NaN,NaN,2023-4026002,R750,2023-09-29 08:16:23
1048578,NaN,NaN,NaN,NaN,2023-4026002,R755,2023-09-29 08:17:01

In [137]:
df_tst = df_tst.drop(columns=["Unnamed: 0", "Unnamed: 1", "Unnamed: 2", "Unnamed: 3"])

In [138]:
df_tst.head()

                  KNR STATUS                DATA
1048574  2023-4026002   R600 2023-09-29 07:14:44
1048575  2023-4026002   R700 2023-09-29 07:38:47
1048576  2023-4026002   R725 2023-09-29 07:53:00
1048577  2023-4026002   R750 2023-09-29 08:16:23
1048578  2023-4026002   R755 2023-09-29 08:17:01

In [139]:
df_tst = df_tst.reset_index()

In [140]:
df_tst.columns

Index(['index', 'KNR', 'STATUS', 'DATA'], dtype='object')

In [141]:
df_tst.head()

     index           KNR STATUS                DATA
0  1048574  2023-4026002   R600 2023-09-29 07:14:44
1  1048575  2023-4026002   R700 2023-09-29 07:38:47
2  1048576  2023-4026002   R725 2023-09-29 07:53:00
3  1048577  2023-4026002   R750 2023-09-29 08:16:23
4  1048578  2023-4026002   R755 2023-09-29 08:17:01

In [142]:
df_tst.drop(columns=['index'])

                  KNR STATUS                DATA
0        2023-4026002   R600 2023-09-29 07:14:44
1        2023-4026002   R700 2023-09-29 07:38:47
2        2023-4026002   R725 2023-09-29 07:53:00
3        2023-4026002   R750 2023-09-29 08:16:23
4        2023-4026002   R755 2023-09-29 08:17:01
...               ...    ...                 ...
3299402  2024-2976013   L66A 2024-06-04 08:27:58
3299403  2024-2976013   L662 2024-06-04 08:28:35
3299404  2024-2976013   L700 2024-06-04 08:44:57
3299405  2024-2976013   I100 2024-06-04 08:47:11
3299406  2024-2976013   L800 2024-06-04 08:47:11

[3299407 rows x 3 columns]

In [143]:
df_tst.shape

(3299407, 4)

In [144]:
df_tst.columns

Index(['index', 'KNR', 'STATUS', 'DATA'], dtype='object')

## Lista de todos os status associados aos ZPs antes da rodagem

In [145]:
ZP7 = ['M695', 'M698', 'M701', 'M702', 'M704', 'M711', 'M712', 'M721', 'M722']
ZP5 = ['R640', 'R650', 'R700', 'R754']
ZP5A = ['L534', 'L535', 'L536', 'L537', 'L538', 'L539', 'L541', 'L542', 'L543', 'L544', 'L545', 'L546', 'L547', 'L548']
ZP6 = ['M599', 'M591', 'M592', 'M593', 'M594', 'M595', 'M596', 'M643', 'M644', 'M647', 'M648', 'M651', 'M652', 'M655', 'M656', 'M673', 'M674', 'M677', 'M678', 'M681', 'M682']
CAB = ['M619', 'M643', 'M644', 'M655', 'M656', 'M673', 'M674']

Garantindo que os dados do dataset são dados de antes do processo de rodagem

In [146]:
# Combine todas as listas em uma única lista
all_stations = ZP7 + ZP5 + ZP5A + ZP6 + CAB

# Filtrar o DataFrame para manter apenas as linhas cujo STATUS está em all_stations
df_tst = df_tst[df_tst['STATUS'].isin(all_stations)]

# Exibe o DataFrame filtrado
print(df_tst)

           index           KNR STATUS                DATA
1        1048575  2023-4026002   R700 2023-09-29 07:38:47
52       1048626  2023-4026003   R700 2023-09-29 09:15:10
105      1048679  2023-4026004   R700 2023-10-02 07:32:03
143      1048717  2023-4026004   M599 2023-10-04 09:03:01
144      1048718  2023-4026004   M677 2023-10-04 09:23:31
...          ...           ...    ...                 ...
3299378  4347952  2024-2976013   R700 2024-05-21 13:52:23
3299380  4347954  2024-2976013   R650 2024-05-21 14:31:04
3299382  4347956  2024-2976013   R754 2024-05-21 14:37:19
3299383  4347957  2024-2976013   R754 2024-05-27 14:11:25
3299399  4347973  2024-2976013   L535 2024-05-28 11:50:39

[136566 rows x 4 columns]

In [147]:
df_tst.shape

(136566, 4)

In [148]:
station_to_group = {
    'ZP7': ['M695', 'M698', 'M701', 'M702', 'M704', 'M711', 'M712', 'M721', 'M722'],
    'ZP5': ['R640', 'R650', 'R700', 'R754'],
    'ZP5A': ['L534', 'L535', 'L536', 'L537', 'L538', 'L539', 'L541', 'L542', 'L543', 'L544', 'L545', 'L546', 'L547', 'L548'],
    'ZP6': ['M599', 'M591', 'M592', 'M593', 'M594', 'M595', 'M596', 'M643', 'M644', 'M647', 'M648', 'M651', 'M652', 'M655', 'M656', 'M673', 'M674', 'M677', 'M678', 'M681', 'M682'],
    'CAB': ['M619', 'M643', 'M644', 'M655', 'M656', 'M673', 'M674']
}

### Verificando se o KNR tem pelo menos uma estação de cada ZP e CAB

In [149]:
# Função para verificar se o KNR tem pelo menos uma estação de cada ZP e CAB
def has_at_least_one_station_from_each(df, knr):
    stations_in_knr = df[df['KNR'] == knr]['STATUS'].unique()
    
    # Verifica se o KNR tem pelo menos uma estação de cada ZP e CAB
    has_zp7 = any(station in stations_in_knr for station in ZP7)
    has_zp5 = any(station in stations_in_knr for station in ZP5)
    has_zp5a = any(station in stations_in_knr for station in ZP5A)
    has_zp6 = any(station in stations_in_knr for station in ZP6)
    has_cab = any(station in stations_in_knr for station in CAB)
    
    # Retorna True se tiver pelo menos uma estação de cada grupo
    return has_zp7 and has_zp5 and has_zp5a and has_zp6 and has_cab

# Lista de KNRs únicos no dataset
knrs_unicos = df_tst['KNR'].unique()

# Filtrar os KNRs que têm pelo menos uma estação de cada ZP e CAB
knrs_validos = [knr for knr in knrs_unicos if has_at_least_one_station_from_each(df_tst, knr)]

# Filtrar o DataFrame original para manter apenas os KNRs válidos
df_filtered = df_tst[df_tst['KNR'].isin(knrs_validos)]

# Exibe o DataFrame filtrado
print(df_filtered)

           index           KNR STATUS                DATA
801      1049375  2023-4026017   R700 2023-09-29 08:44:35
818      1049392  2023-4026017   L535 2023-10-02 12:44:03
819      1049393  2023-4026017   L545 2023-10-02 21:04:04
839      1049413  2023-4026017   M643 2023-10-04 06:48:00
854      1049428  2023-4026017   M712 2023-10-10 09:42:33
...          ...           ...    ...                 ...
3293863  4342437  2024-2656115   L535 2024-06-19 12:59:18
3293864  4342438  2024-2656115   L541 2024-06-19 14:05:27
3293889  4342463  2024-2656115   M599 2024-06-20 19:01:23
3293890  4342464  2024-2656115   M643 2024-06-20 20:20:39
3293901  4342475  2024-2656115   M712 2024-06-20 23:09:49

[2439 rows x 4 columns]

In [150]:
# Ordene o dataframe por KNR e DATA
df_filtered = df_filtered.sort_values(by=['KNR', 'DATA'])

In [151]:
# Função para determinar o grupo (ZP ou CAB) baseado no STATUS
def get_group(status):
    for group, stations in station_to_group.items():
        if status in stations:
            return group
    return None

### Calculando o tempo gasto em cada estação

In [152]:
# Aplicar a função de grupo ao dataframe
df_filtered['Group'] = df_filtered['STATUS'].apply(get_group)

# Calcular a diferença de tempo entre os status consecutivos para o mesmo KNR
df_filtered['Tempo'] = df_filtered.groupby('KNR')['DATA'].diff().dt.total_seconds() / 60  # Diferença em minutos

# Preencher NaN com 0, já que a primeira ocorrência não tem tempo anterior
df_filtered['Tempo'] = df_filtered['Tempo'].fillna(0)

# Criar colunas para armazenar o tempo gasto em cada ZP/CAB
for group in station_to_group.keys():
    df_filtered[f'Tempo_{group}'] = df_filtered.apply(lambda row: row['Tempo'] if row['Group'] == group else 0, axis=1)

# Agrupar por KNR e somar o tempo gasto em cada ZP/CAB
df_result = df_filtered.groupby('KNR').agg({f'Tempo_{group}': 'sum' for group in station_to_group.keys()}).reset_index()

In [153]:
df_result.head()

            KNR    Tempo_ZP7  Tempo_ZP5   Tempo_ZP5A    Tempo_ZP6  Tempo_CAB
0  2023-4026017  8929.583333        0.0  5059.483333  2023.933333        0.0
1  2023-4056259    23.250000        0.0  1892.083333  5652.466667        0.0
2  2023-4066230  1290.583333        0.0  4711.016667  1425.533333        0.0
3  2023-4216062  1223.116667        0.0  1810.966667  9595.050000       87.5
4  2023-4216104   251.283333        0.0  8261.833333  1717.616667        0.0

In [154]:
# Conta a quantidade de KNRs únicos no dataset
num_knrs_unicos = df_result['KNR'].nunique()

# Exibe o resultado
print(f"Quantidade de KNRs únicos no dataset: {num_knrs_unicos}")

Quantidade de KNRs únicos no dataset: 308

## Criação da coluna com a informação de Falhas

In [155]:
df_falhas.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,NaN,82662,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,KNR,MODELO,COR,MOTOR,ESTACAO,USUARIO,HALLE,FALHA,DATA
2,NaN,2023-1326197,T-CROSS,0Q0Q,DHS,PCEQS100,2043521,ZP5,Porta dianteira Folga (Ajuste),2023-01-09 22:24:44.272000
3,NaN,2023-1326197,T-CROSS,0Q0Q,DHS,PCEQS100,2043521,ZP5,Porta traseira Folga (Ajuste),2023-01-09 22:25:02.960000
4,NaN,2023-4130482,AUDI Q3,2Y2Y,DSN,PCEQS999,2054701,ESPC,Lanterna tras (09) Interfere,2023-01-10 09:18:25.238000

In [156]:
# Definir a linha correta como cabeçalho
df_falhas.columns = df_falhas.iloc[1]
df_falhas = df_falhas[2:]

# Resetar o índice do DataFrame
df_falhas.reset_index(drop=True, inplace=True)

df_falhas.head()

1,NaN,KNR,MODELO,COR,MOTOR,ESTACAO,USUARIO,HALLE,FALHA,DATA
0,NaN,2023-1326197,T-CROSS,0Q0Q,DHS,PCEQS100,2043521,ZP5,Porta dianteira Folga (Ajuste),2023-01-09 22:24:44.272000
1,NaN,2023-1326197,T-CROSS,0Q0Q,DHS,PCEQS100,2043521,ZP5,Porta traseira Folga (Ajuste),2023-01-09 22:25:02.960000
2,NaN,2023-4130482,AUDI Q3,2Y2Y,DSN,PCEQS999,2054701,ESPC,Lanterna tras (09) Interfere,2023-01-10 09:18:25.238000
3,NaN,2023-4130482,AUDI Q3,2Y2Y,DSN,PCEQS999,2054701,ESPC,Emblema / logo - Adesivos em geral Solto(a) ¨,2023-01-10 09:18:40.728000
4,NaN,2023-4130664,AUDI Q3,6Y6Y,DSN,PCEQS805,7000240,ZP82,Painel instrumentos Ruído (-),2023-01-10 11:17:56.489000

In [157]:
df_falhas.columns

Index([      nan,     'KNR',  'MODELO',     'COR',   'MOTOR', 'ESTACAO',
       'USUARIO',   'HALLE',   'FALHA',    'DATA'],
      dtype='object', name=1)

In [158]:
# Remover a coluna `NaN`
df_falhas.dropna(axis=1, how='all', inplace=True)

In [159]:
df_falhas.head()

1,KNR,MODELO,COR,MOTOR,ESTACAO,USUARIO,HALLE,FALHA,DATA
0,2023-1326197,T-CROSS,0Q0Q,DHS,PCEQS100,2043521,ZP5,Porta dianteira Folga (Ajuste),2023-01-09 22:24:44.272000
1,2023-1326197,T-CROSS,0Q0Q,DHS,PCEQS100,2043521,ZP5,Porta traseira Folga (Ajuste),2023-01-09 22:25:02.960000
2,2023-4130482,AUDI Q3,2Y2Y,DSN,PCEQS999,2054701,ESPC,Lanterna tras (09) Interfere,2023-01-10 09:18:25.238000
3,2023-4130482,AUDI Q3,2Y2Y,DSN,PCEQS999,2054701,ESPC,Emblema / logo - Adesivos em geral Solto(a) ¨,2023-01-10 09:18:40.728000
4,2023-4130664,AUDI Q3,6Y6Y,DSN,PCEQS805,7000240,ZP82,Painel instrumentos Ruído (-),2023-01-10 11:17:56.489000

In [160]:
df_falhas = df_falhas.drop_duplicates()
df_falhas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 663819 entries, 0 to 663818
Data columns (total 9 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   KNR      663819 non-null  object
 1   MODELO   663819 non-null  object
 2   COR      663819 non-null  object
 3   MOTOR    663819 non-null  object
 4   ESTACAO  663816 non-null  object
 5   USUARIO  663816 non-null  object
 6   HALLE    662762 non-null  object
 7   FALHA    663809 non-null  object
 8   DATA     663819 non-null  object
dtypes: object(9)
memory usage: 45.6+ MB

In [161]:
# Dropar colunas
df_falhas.drop(['MODELO',     'COR',   'MOTOR', 'ESTACAO', 'USUARIO',   'HALLE',   'FALHA',    'DATA'], axis=1, inplace=True)

In [162]:
df_falhas.head()

1           KNR
0  2023-1326197
1  2023-1326197
2  2023-4130482
3  2023-4130482
4  2023-4130664

Se o KNR esta presnete no dataset de status e na tabela falhas, significa que o KNR teve alguma falha (1), se só estiver em status, significa que não teve(0).

In [164]:
# Adicionar a coluna temFalha no df com base nos KNRs que aparecem em df_falhas
df_result['temFalha'] = df_result['KNR'].apply(lambda knr: 1 if knr in df_falhas['KNR'].values else 0)

print(df_result)

              KNR    Tempo_ZP7  Tempo_ZP5   Tempo_ZP5A    Tempo_ZP6  \
0    2023-4026017  8929.583333   0.000000  5059.483333  2023.933333
1    2023-4056259    23.250000   0.000000  1892.083333  5652.466667
2    2023-4066230  1290.583333   0.000000  4711.016667  1425.533333
3    2023-4216062  1223.116667   0.000000  1810.966667  9595.050000
4    2023-4216104   251.283333   0.000000  8261.833333  1717.616667
..            ...          ...        ...          ...          ...
303  2024-2626243   733.783333   0.000000  1397.633333   749.083333
304  2024-2626276   373.200000   0.000000   964.516667  1900.816667
305  2024-2626342   146.433333   0.000000  2376.666667  1160.700000
306  2024-2636309   590.650000   0.000000  1410.433333  2690.116667
307  2024-2656115   169.166667  32.433333  1445.716667  1815.200000

     Tempo_CAB  temFalha
0          0.0         1
1          0.0         1
2          0.0         1
3         87.5         1
4          0.0         1
..         ...       ...
303        0.0         0
304        0.0         0
305        0.0         0
306        0.0         0
307        0.0         0

[308 rows x 7 columns]

In [165]:
df_result.head()

,KNR,Tempo_ZP7,Tempo_ZP5,Tempo_ZP5A,Tempo_ZP6,Tempo_CAB,temFalha
0,2023-4026017,8929.583333,0.0,5059.483333,2023.933333,0.0,1
1,2023-4056259,23.250000,0.0,1892.083333,5652.466667,0.0,1
2,2023-4066230,1290.583333,0.0,4711.016667,1425.533333,0.0,1
3,2023-4216062,1223.116667,0.0,1810.966667,9595.050000,87.5,1
4,2023-4216104,251.283333,0.0,8261.833333,1717.616667,0.0,1

In [166]:
df_result.to_csv('dataset_filtrado.csv', index=False)